body {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

h1 {
  color: aliceblue;
  padding-left: 835px;
}

#looky {
  float: right;
  margin-top: 46px;
  font-size: large;
}

#top {
  display: flex;
  justify-content: space-between;
}
#query {
  padding: 3.5px;
}
/* #submit { */
button {
  font-size: large;
  color: #515ada;
  cursor: pointer;
}

#movie-grid {
  display: flex;
  /* flex: 5; */
  flex: 20% 20% 20% 20% 20%;
  /* justify-content: space-around; */
}

#movie-grid img {
  height: 250px;
}
h3 {
}

img:hover {
  opacity: 0.2;
  cursor: pointer;
}
