body {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

h1 {
  color: aliceblue;
  padding-left: 835px;
}
/* * {
  border: 2px dotted #515ada;
} */
#looky {
  float: right;
  margin-top: 46px;
  font-size: large;
}

#top {
  display: flex;
  justify-content: space-between;
}
#query {
  padding: 3.5px;
}
/* #submit { */
button {
  font-size: large;
  color: #515ada;
  cursor: pointer;
  /* align-items: center; */
}

/* #movie-card {
  display: flex;
  /* flex: 5; */
/* flex-wrap: wrap; */
/* justify-content: space-evenly; */
/* padding: 10px; */
/* justify-content: space-around; */
/* } */

/* .page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
} */

#movie-grid {
  display: flex;
  justify-content: space-around;
  align-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}
/* 
#movie-card {
  display: flex;
  flex-direction: column-reverse;
} */

#movie-grid img {
  height: 250px;
  border: 2px solid #efd5ff;
}

.hidden {
  display: none;
}

/* h3,
.movie-votes {
  margin: 2%;
  width: var(--poster-base);
} */

img:hover {
  opacity: 0.2;
  cursor: pointer;
}
